<li id="<%= feed_item.user.id %>">
	<%= link_to gravatar_for(feed_item.user, options = {size: 50}), feed_item.user %>
	<div class="feed-textual-part">
		<span class="user"><%= link_to feed_item.user.name, feed_item.user %></span>
		<span class="content"><%= feed_item.content %></span>
		<span class="timestamp">Posted <%=time_ago_in_words(feed_item.created_at)%> ago</span>
		<% if current_user?(feed_item.user) %>
		<%= link_to "delete", feed_item, method: :delete , data: {confirm: 'Are you sure?'}, title: feed_item.content %>
			<%= link_to(feed_item, class: 'delete-feed-item', remote: false ,method: :delete , data: {confirm: 'Are you sure?'}, title: feed_item.content) do %>
				<i class="icon-trash "></i>
			<% end %>

		<% end %>


		<div class="clearfix"></div>
	</div>
</li>